body {
  font-family: "PT Sans Caption", sans-serif;
}
::selection {
  background-color: #fec260;
  color: #000;
}

ul {
  list-style: none;
}
.home {
  background-color: #f7ecde;
  min-height: 100vh;
}
.home .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .title h1 {
  font-family: "Pacifico", cursive;
  font-size: 3.125rem;
  font-weight: 500;
  color: #352e28;
  position: relative;
  z-index: 9;
}

.home .title h1::before {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #fec260;
  content: "";
  transition: height 1s;
  z-index: -1;
}
.home .title h1:hover::before {
  height: 50%;
}

.home .data-inputs {
  border-top: 2px dotted;
  border-bottom: 2px dotted;
}

.home .data-inputs h2 {
  font-family: "Righteous", sans-serif;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5625rem;
  font-weight: 500;
}

.home .data-inputs button {
  background-color: #d1512d;
  transition: all 0.5s;
}

.home .data-inputs button:focus {
  background-color: #f7ecde;
  color: #000 !important ;
  border: 0.0625rem solid #000;
}

.home table tbody td button.visit {
  color: #fff;
  background-color: #9eb23b;
  transition: all 0.5s;
}
.home table tbody td button.visit:hover {
  color: #fff;
  background-color: #8a9e23;
  border: 0.5px solid #000;
}

.home table tbody td button.delete {
  color: #fff;
  background-color: #eb1d36;
  transition: all 0.5s;
}
.home table tbody td button.delete:hover {
  color: #fff;
  background-color: #d30820;
  border: 0.5px solid #000;
}
.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  border-top: none !important;
}
.modal .modal-content .balls {
  position: relative;
}
.modal .modal-content .balls .red-ball {
  width: 20px;
  height: 20px;
  background-color: #f15f5d;
  border-radius: 50%;
  position: relative;
}
.modal .modal-content .balls .red-ball::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #febe2e;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 130%;
}

.modal .modal-content .balls .red-ball::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #4db748;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 250%;
}
.modal .modal-content .modal-body p {
  font-family: "Bree Serif", serif;
  font-size: 1.3125rem;
  font-weight: 400;
  width: 95%;
}
.modal .modal-content .modal-body ul li {
  font-size: 18px;
}
.modal .modal-content .modal-body ul li i {
  color: #bb4120;
}
